.card__like-button {
    background-image: url(../../../images/like.svg);
    min-height: 19px;
    min-width: 22px;
    border: none;
    background-color: transparent;
    background-position: center;
    padding: 0;
    margin: 0;
}

.card__like-button:hover {
    transition: opacity .3s;
    opacity: 0.6;
    cursor: pointer;
}

